<!-- app/views/admin/employees/leave_information.html.erb -->
<div id="leave-information">
  <table id="leave-details">
    <caption>Total Leaves Taken This Year: <%= @employee.leaves.where(status: 'Approved').where("DATE_PART('year', start_date) = ?", Time.now.year).sum(:leave_days) %></caption>
    <thead>
      <tr>
        <th>Type</th>
        <th>Paid Leaves Taken</th>
        <th>Paid Leaves Remaining</th>
        <th>UnPaid Leaves Taken</th>
        <th>Total Leaves</th>
      </tr>
    </thead>
    <tbody>
      <% leave_types = ['Sick', 'Urgent_Work', 'Marriage', 'Hajj', 'Extra'] %>
      <% leave_types.each do |leave_type| %>
        <tr>
          <td class="type"><%= leave_type %></td>
          <td><%= @employee.leaves.where(status: 'Approved', leave_type: leave_type, category: 'Paid').where("DATE_PART('year', start_date) = ?", Time.now.year).sum(:leave_days) %></td>
          <td>
            <% if leave_type == 'Sick' %>
              <%= 10 - @employee.leaves.where(status: 'Approved', leave_type: leave_type, category: 'Paid').where("DATE_PART('year', start_date) = ?", Time.now.year).sum(:leave_days) %>
            <% elsif leave_type == 'Urgent_Work' %>
              <%= 5 - @employee.leaves.where(status: 'Approved', leave_type: leave_type, category: 'Paid').where("DATE_PART('year', start_date) = ?", Time.now.year).sum(:leave_days) %>
            <% else leave_type.in?(%w[Marriage Hajj Extra]) %>
              - <!-- Display '-' for Hajj, Marriage, and Extra -->
    
            <% end %>
          </td>
          <td><%= @employee.leaves.where(status: 'Approved', leave_type: leave_type, category: 'Unpaid').where("DATE_PART('year', start_date) = ?", Time.now.year).sum(:leave_days) %></td>
          <td><%= @employee.leaves.where(status: 'Approved', leave_type: leave_type).where("DATE_PART('year', start_date) = ?", Time.now.year).sum(:leave_days) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
