<div style="font-family:Arial"> 
        
        <table style="width:100%;margin:auto;padding:20px">
            <tbody><tr>
            <td><img src="https://www.xcorebit.com/assets/img/lolol.png" style="width: 500px;">
        </div>
    <div style='float:none;clear:both'></div>   
    <div style="float:left;margin-top:auto; font-size:17px"><i>H, 21 Mateen Fatima Rd Block, Gulberg, Lahore</i>
    </div>
    <div style='float:none;clear:both'>
    </div>
    <div style="float:left;margin-top:5px; ">+92 321 8814341
    </div>
    <div style='float:none;clear:both'></div>
    <div style="float:left;margin-top:10px;">hr@xcorebit.com
    </div>
        </td>
            </tr>
        </tbody></table>
        <table style="width:100%;margin:auto;padding:10px">
        <tbody><tr>
            <td>
           <div style="float: left; margin-right: 2px;"> <span style="font-weight: bold;">Name:</span><%= "#{ @employee.first_name} #{@employee.last_name}" %>
</div>


            <div style="float:right; margin-right:2px;"> <span style="font-weight: bold;">Designation:</span> <%= @employee.designation %> </div>
            <div style="clear:both"></div>
            </td>
        </tr><tr>
            <td>
            <div><span style="margin-right:2px;"><span style="font-weight: bold;">Salary Month: </span><%= @salary_slip.salary_month&.strftime('%B %Y') %>
            </div>
            </td>
        </tr>
    ​
        <tr>
            <td>
            <div style="margin-right:2px;"><span style="font-weight: bold;">Date of Joining:</span>  <%= @employee.date_of_joining.strftime('%d %b %Y') %></div>
            </td>
        </tr>
        </tbody></table>
        <table style="width:100%;margin:auto;padding:2px;background: black;">
            <tbody><tr>
            <td>
                <h2 style="margin-top:1%;font-size:20px;text-align:center;margin-bottom:2px;color:white">Employee Pay <span >Slip</span></h2>
            </td>
            </tr>
        </tbody></table>
    ​
        <table style="width:100%;margin:auto;padding:20px">
        <tbody><tr>
            <th style="font-size:30px;font-weight:bold;float:left">
            Allowances
            <div></div>
            </th>
            <th style="font-size:25px;font-weight:bold;float:right">
            Amount (Rs)
            <div></div>
            </th>
        </tr>
    <tr>
        <td>
            <div><span style="float:left">BasicSalary</span>
            </div> 
            <div style="float:right"><%= @salary_slip.basic_salary %>
            </div>
            <div style="clear:both">
            </div>
        </td>
    </tr>
    <tr style="background:#eeeeee">
        <td>
            <div><span style="float:left">Fuel</span></div> <div style="float:right"><%= @salary_slip.fuel %></div>
            <div style="clear:both"></div>
        </td>
    </tr>
    <tr style="background:#eeeeee">
        <td>
            <div><span style="float:left">Medical Allowance</span></div> <div style="float:right"><%= @salary_slip.medical_allownce %></div>
            <div style="clear:both"></div>
        </td>
    </tr>
    <tr style="background:#eeeeee">
        <td>
            <div><span style="float:left">House Rent</span></div> <div style="float:right"><%= @salary_slip.house_rent %></div>
            <div style="clear:both"></div>
        </td>
    </tr>
    <tr style="background:#eeeeee">
        <td>
            <div><span style="float:left">OPD</span></div> <div style="float:right"><%= @salary_slip.opd %></div>
            <div style="clear:both"></div>
        </td>
    </tr>
    <tr style="background:#eeeeee">
        <td>
            <div><span style="float:left">Arrears</span></div> <div style="float:right"><%= @salary_slip.arrears %></div>
            <div style="clear:both"></div>
        </td>
    </tr>
    <tr style="background:#eeeeee">
        <td>
            <div><span style="float:left">Other Bonus</span></div> 
            <div style="float:right"><%= @salary_slip.other_bonus %></div>
            <div style="clear:both"></div>
        </td>
        </tr>
        <tr>
            <td>
            <div><span style="float:left;margin-bottom:1%; margin-top: 25px">GrossSalary</span></span></div> 
            <div style="float:right;margin-bottom:1%;margin-top: 25px "><%= @salary_slip.gross_salary %></div>
            <div style="clear:both"></div>
            </td>
        </tr>
        <tr>
            <td>
            <div style="font-weight:bold; font-size: 30px; float:left; margin-top:20px"> Deductions</div>
           
            </td>
        </tr>
        <tr>
            <td>
            <div style="float:left;font-size: 20px; margin-top: 25px  ">Provident Fund</div> 
            <div style="float:right; ;font-size: 20px; margin-top: 25px     "><%= @salary_slip.provident_fund %></div>
            <div style="clear:both"></div>
            </td>
        </tr>
        <tr>
            <td>
            <div><span style="font-size:25px;font-weight:bold;float:left;margin-bottom:1%;margin-top:5%">Net Salary</span></div>
             <div style="font-size:25px;float:right;font-weight:bold;margin-top:5%"><%= @salary_slip.net_salary %></div>
            <div style="clear:both"></div>
            </td>
    </tr>
    <tr>
            <td>
            <div style=" font-size:10px; margin-top:50px">This is an electronically generated document,hence does not require signature.</div>
            </td>
    </tr>
        </tbody>
        </table>
        </div>