<h1>hello welcome</h1>
<header class="header fixed-top d-flex align-items-center">

   <div class="container-fluid d-flex align-items-center">
      <%= link_to(root_path, class: "logo d-flex align-items-center me-auto me-xl-0") do %>
        <h1>Get School House</h1>
        <span>.</span>
      <% end %>
      <nav class="navmenu">
          <ul class="d-flex justify-content-end mr-8">
           <%
=begin%>
 <li><%= link_to"About", about_path%></li>

            <li><%= link_to "Pods", pods_path%> 
<%
=end%>
            </li>
             <%
=begin%>
 <% if user_signed_in? %>
            <li><%= link_to "Teachers", teachers_path %>
            </li>
            <li>  <%= link_to " Mychildren", children_path%>
            </li>
            <li> <%= link_to "Add children", new_child_path %>
            </li>
            <li><%= link_to current_user.email , edit_user_registration_path , class: "nav-link " %>
            </li> 
<%
=end%>
            <%
=begin%>
 <%else%> 
<%
=end%>
            <li><%= link_to "Sign in" , new_user_session_path %>
            </li>
             <li><%= link_to "Sign up", new_user_registration_path%>
            </li>
            <%
=begin%>
 <%end%> 
<%
=end%>
          </ul>


          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <% if user_signed_in? %>
          <%= link_to "Sign out" , destroy_user_session_path , data: { "turbo-method": :delete } ,  class: "btn-getstarted ms-auto" %>
          <%end%>
      </div>
  </header>